.chat-row {
    display: flex;
    margin: 7px;
    width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.chat-bubble {
    font-family: "Source Sans Pro", sans-serif, "Segoe UI", "Roboto", sans-serif;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin: 0px 7px;
    max-width: 70%;
}

.ai-bubble {
    background: #99c2f6;
    color: white;
    border-radius: 10px;
}

.human-bubble {
    background: #c0b0ff;
    color: white;
    border-radius: 20px;
}

.chat-icon {
    border-radius: 5px;
}

